<%- include('partials/header') -%> 

<h1>Compose</h1>
<p>
    <form action="/compose" method="post" class="item">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="postTitle" class="form-control" autocomplete="off">
            <label>Post</label>
            <textarea name="postBody" class="form-control" cols="30" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary " name="button">Publish</button>
    </form>
</p> 

<%- include('partials/footer') -%> 