<%- include('partials/header') -%> 

<h1>Compose</h1>
<p>
    <form action="/compose" method="post" class="item">
        <input type="text" name="postTitle" autocomplete="off">
        <button type="submit" name="button">Publish</button>
    </form>
</p> 

<%- include('partials/footer') -%> 